:root {
    --body_background: #f0f8ff;
    --light: white;
    --links: #141416;
    --text: #141416;
    --btn_color: #141416;
    --see_more:#9c27b0;
    --svg: #141416;
    --headings: 32px;
    --small: 9px;
    --cardbg: #fff;
    --cardtext: #000000;
    --btntext: white;
    --gray: #141416;
}

[data-theme ="dark"] {
    --body_background:  #141416;
    --links: #f0f8ff;
    --text: white;
    --btn_color: #f0f8ff;
    --svg : #f0f8ff;
    --cardbg: #fff;
    --cardtext: #000000;
    --gray: #fff;
    
}

body {
    background-color: var(--body_background);
}  